<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>

<div layout:fragment="content">
    <h2 th:text="${user.getUsername()} + '\'s Profile'">User's Profile</h2>
    <ul>
        <li th:text="'Id: ' + ${user.getId()}">Id</li>
        <li th:text="'Username: ' + ${user.getUsername()}">Username</li>
        <li th:text="'Roles: ' + ${user.getRoles()}">Roles</li>
    </ul>
    <br/>
    <a th:href="@{/admin/users/{id}/edit(id=${user.getId()})}">Edit</a>
</div>

</body>
</html>